:root {
  --main-color: #2196f3;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  margin: 20px auto;
  max-width: 900px;
}

.game {
  background-color: #eee;
  min-height: 100vh;
}

.game .levls {
  display: flex;
}

.game .game-lvl {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin: 15px 0;
  background-color: white;
  text-align: center;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.game .game-lvl div {
  margin-top: 5px;
}

.game .game-lvl span {
  background-color: #666;
  color: white;
  padding: 10px;
  cursor: pointer;
  margin: 5px;
}

.game .game-lvl span.active {
  background-color: #009688;
}

.game .name {
  background-color: var(--main-color);
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  padding: 20px;
}

.game .message {
  padding: 15px;
  margin: 15px 0;
  background-color: white;
  text-align: center;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.game .message span {
  font-weight: bold;
  color: #009688;
}

.game .message span::before {
  content: "[ ";
}

.game .message span::after {
  content: " ]";
}

.start {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  background-color: #009688;
  color: white;
  padding: 20px;
}

.the-word {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  color: var(--main-color);
  user-select: none;
  margin-top: 10px;
}

.input {
  margin: 15px 0;
  padding: 15px;
  width: 100%;
  display: block;
  border: 3px solid var(--main-color);
  font-size: 20px;
  text-align: center;
  text-transform: capitalize;
  outline: none;
  caret-color: var(--main-color);
}

.upcoming-word {
  background-color: white;
  margin: 15px 0;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.upcoming-word div {
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  margin: 4px;
  padding: 10px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  user-select: none;
}

.control {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 15px;
}

.control span {
  font-weight: bold;
  color: #009688;
}

.finish {
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  padding: 15px;
}

.finish .good {
  color: #009688;
}

.finish .bad {
  color: red;
}